.header-andamio{
    display: inline;
}
.materia-andamio { 
    font-size: 1.2em;
    color: $gray-text;
}
.bloque-andamio {
    color: $gray-text;
}
.img-andamio img {

}
.body-andamio{

}
.bg-andamio {
    background-color: #f5f5f5;
}