.evaluacion-nombre{
    color: $blue;
}
.evaluacion-seccion {
    color: $gray-text;
}
.evaluacion-calificacion {
    color: $cyan;
}
.evaluacion-fecha {
    color: $gray-text;
}
.evaluacion-icon {
    margin-right: 0.75rem;
}
.evaluacion-icon i {
    font-size: 40px!important;
}
.evaluacion-icon-examen {
    color: $blue;
}
.evaluacion-icon-tarea {
    color: $cyan;
}