/* Estilos pagina de soporte */

ul.videotutorialesList {
    list-style: none;
    padding-left: 3em;
    padding-right: 3em;
}

ul.preguntasList {
    list-style: none;
    padding-left: 3em;
    padding-right: 3em;
}