<section id="page-container" class="app-page-container">
    <div class="app-content-wrapper">
        <div class="app-content">
            <div class="full-height">
                <div class="container-fluid">
                    <h3>Example 1</h3>
                    <p>Using a font color for a text (Resolved)</p>
                    <my-ckeditor [data]="data" (onChange)="update($event)"></my-ckeditor>
                    <p><strong>Data send to editor:</strong></p>
                    <p>{{data}}</p>
                    <h3>Example 2</h3>
                    <p>Using a background color for text (Resolved)</p>
                    <my-ckeditor [data]="data2" (onChange)="update2($event)"></my-ckeditor>
                    <p><strong>Data send to editor:</strong></p>
                    <p>{{data2}}</p>
                    <h3>Example 3</h3>
                    <p>Integration with MathType, problem with special characters</p>
                    <my-ckeditor [data]="data3" (onChange)="update3($event)"></my-ckeditor>
                    <p>{{data3}}</p>
                    <p>{{updated3}}</p>
                </div>
            </div>
        </div>
    </div>
</section>