$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;
$gray-more-light:           #848c91 !default;

$blue-light: #f0f8ff;
$my-orange: #ff6600;
$dark-green: #006600;
$gray-text: $gray-more-light;
$user-image-profile: 100px;
$font-size-value-card: 2rem;
$font-size-porcentual-card: 2rem;
$size-preview: 6rem;
$box-dashboard-font-size: 2rem;
$icon-size: 1.3rem;
$color-youtube: #cd201f;
$color-facebook: #3b5999;
$color-linkedin: #0077B5;
$color-twitter: #55acee;
$color-whatsapp: #25d366;