/* Form control */
.form-control {
    padding: 0.5rem 0.5rem!important;
}
/* mat-checkbox */
mat-checkbox.m-0 .mat-checkbox-layout {
    margin: 0rem!important;
}
/* Material Input */
.input-icon-button {
    width: 90%;
}
.input-icon-button-md {
    width: 80%;
}
.input-icon-button-sm {
    width: 70%;
}
/* Select */
.mat-select-value-text,
.mat-select-placeholder,
.mat-option,
.mat-input-element {
    font-size: $font-size-base;
}
.mat-focused > .mat-placeholder-required {
    color: $blue;
}
.form-group button.mat-icon-button i:hover {
    color: $blue;
}
/* placeholder */
.my-placeholder {
    white-space: nowrap; 
    color: rgba(0, 0, 0, 0.38);
   
    transform: perspective(100px);
    -ms-transform: none;
    transform-origin: 0 0; 
    transition: transform .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
}
/* mat-hint */
.mat-hint {
    color: $gray-600!important;
}
.form-group-select mat-hint.mat-input-error,
mat-hint.mat-input-error {
    //margin-top: 0.60417em!important;
    top: calc(100% - 1.72917em)!important;
}
small.mat-input-error {
    font-size: 75%;
    margin-top: 0.60417em;
    top: calc(100% - 1.72917em); 
}
mat-hint.mat-input-error,
small.mat-input-error {
    color: #ef5350!important;
}
/* search input */
.search-width {
    width: 60%;
}
.input-sm {
    width: 60px;
}