.innerhtml {
    max-width: 100%!important;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.innerhtml img {
    max-width: 100%!important;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}