/* paginacion */ 

.page-item.disabled .page-link {
    background-color: $gray-lighter;
}
div.theme-gray .page-link,
div.theme-dark .page-link, 
div.theme-gray .page-item.disabled .page-link
div.theme-gray .page-item.disabled .page-link
{
    background-color: transparent!important;
}

td.link span {
    color: $blue;
}
td.link span:hover {
    text-decoration: underline;
    cursor: pointer;
}