a.social-network {
   color: $gray-more-light;
}
.youtube:hover {
    color: $color-youtube;
}
.facebook:hover {
    color: $color-facebook;
}
.linkedin:hover {
    color: $color-linkedin;
}
.twitter:hover {
    color: $color-twitter;
}
.fa-instagram {
    height: 24px;
    width: 24px;
    padding: 2px;
}
.fa-instagram:hover {
    border-radius: 7px;
    color: #ffffff;
    background: #cc2366; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.whatsapp:hover {
    color: $color-whatsapp;
}